<nav class="navbar navbar-expand-md  sticky-top shadow  ">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/images/logo.png" class="img-fluid " width="40px" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link  " routerLinkActive="text-primary" routerLink="/messages">Home</a>
                </li>

                <li class="nav-item">

                    <a class="nav-link  " routerLinkActive="text-primary" routerLink="/members">User</a>
                </li>
            </ul>
        </div>
    </div>
</nav>