<section id="about" class="about bg-light py-5">
    <div class="container">
        <div class="text-center  ">
            <h4 class="fw-bold text-uppercase  text-primary">about me</h4>
            <hr class="w-25 mx-auto">
            <h2 class="mb-4  ">Let me introduce my self</h2>
        </div>
        <div class="row">
            <div class="col-md-4 col-12 my-3  ">
                <div class="image-container text-center  ">
                    <img src="assets\images\Emad.jpg" alt="emad" class="about-img img-fluid rounded-circle">
                </div>
            </div>
            <div class="col-md-8 col-12 d-flex flex-column justify-content-center align-items-center ">
                <div class="text-container text-center text-md-start   ">
                    <p class="lead">Hello! I’m Emad, a Software Engineer with extensive experience in .NET Full Stack
                        development and Angular for frontend frameworks. I have successfully delivered over 100 projects
                        throughout my career, showcasing my expertise in front and backend development. My journey in
                        tech is driven by a commitment to excellence and a passion for innovation.
                        <br>
                        I am also a certified Robotic Process Automation (RPA) developer with Associate and Professional
                        UiPath certifications. I have a proven track record of implementing RPA solutions that enhance
                        business processes and operational efficiency.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>